.DS_Store
.idea

/cmake-3.17.1-Darwin-x86_64
/libpng-1.6.37
/SDL-mirror

/cmake_install.cmake
/CMakeFiles
/CMakeCache.txt
/Makefile
/src/CMakeFiles/
/src/cmake_install.cmake
/src/Makefile
/src/copy_but
/src/default_ini.h
/src/embed

/src/FreeSynd.app/

*.framework

/SYND

/notes.txt

COL01.DAT
GAME01.DAT
GAME02.DAT
GAME03.DAT
GAME04.DAT
GAME05.DAT
GAME06.DAT
GAME07.DAT
GAME08.DAT
GAME09.DAT
GAME10.DAT
GAME11.DAT
GAME12.DAT
GAME13.DAT
GAME14.DAT
GAME15.DAT
GAME16.DAT
GAME17.DAT
GAME18.DAT
GAME19.DAT
GAME20.DAT
GAME21.DAT
GAME22.DAT
GAME23.DAT
GAME24.DAT
GAME25.DAT
GAME26.DAT
GAME27.DAT
GAME28.DAT
GAME29.DAT
GAME30.DAT
GAME31.DAT
GAME32.DAT
GAME33.DAT
GAME34.DAT
GAME35.DAT
GAME36.DAT
GAME37.DAT
GAME38.DAT
GAME39.DAT
GAME40.DAT
GAME41.DAT
GAME42.DAT
GAME43.DAT
GAME44.DAT
GAME45.DAT
GAME46.DAT
GAME47.DAT
GAME48.DAT
GAME49.DAT
GAME50.DAT
GAME90.DAT
GAME91.DAT
GAME92.DAT
GAME93.DAT
GAME94.DAT
GAME95.DAT
GAME96.DAT
GAME97.DAT
GAME98.DAT
GAME99.DAT
GAMEDG.DLL
GAMEFM.DLL
HBLK01.DAT
HELE-0.ANI
HFNT01.DAT
HFRA-0.ANI
HPAL01.DAT
HPAL02.DAT
HPAL03.DAT
HPAL04.DAT
HPAL05.DAT
HPALETTE.DAT
HPOINTER.DAT
HPOINTER.TAB
HREQ.DAT
HSPR-0.DAT
HSPR-0.TAB
HSTA-0.ANI
INTRO.DAT
INTRO.XMI
ISNDS-0.DAT
ISNDS-0.TAB
ISNDS-1.DAT
ISNDS-1.TAB
MAP01.DAT
MAP02.DAT
MAP03.DAT
MAP04.DAT
MAP05.DAT
MAP06.DAT
MAP07.DAT
MAP08.DAT
MAP09.DAT
MAP10.DAT
MAP11.DAT
MAP12.DAT
MAP13.DAT
MAP15.DAT
MAP16.DAT
MAP17.DAT
MAP18.DAT
MAP19.DAT
MAP20.DAT
MAP21.DAT
MAP31.DAT
MAP32.DAT
MAP34.DAT
MAP35.DAT
MAP37.DAT
MAP38.DAT
MAP39.DAT
MAP40.DAT
MAP41.DAT
MAP43.DAT
MAP50.DAT
MAP51.DAT
MAP52.DAT
MAP53.DAT
MAP54.DAT
MAP55.DAT
MAP56.DAT
MAP57.DAT
MAP58.DAT
MAP60.DAT
MAP61.DAT
MAP62.DAT
MAP63.DAT
MAP64.DAT
MAP65.DAT
MAP66.DAT
MAP67.DAT
MAP70.DAT
MAP71.DAT
MAP72.DAT
MAP73.DAT
MAP80.DAT
MAP81.DAT
MAP82.DAT
MAP90.DAT
MAP91.DAT
MAP92.DAT
MAP93.DAT
MAP94.DAT
MBRIEF.DAT
MBRIEOUT.DAT
MCONFOUT.DAT
MCONFUP.DAT
MCONSCR.DAT
MDEBRIEF.DAT
MDEOUT.DAT
MENDLOSE.DAT
MENDWIN.DAT
MFNT-0.DAT
MFNT-0.TAB
MGAMEWIN.DAT
MISS01.DAT
MISS02.DAT
MISS03.DAT
MISS04.DAT
MISS05.DAT
MISS06.DAT
MISS07.DAT
MISS08.DAT
MISS09.DAT
MISS10.DAT
MISS11.DAT
MISS12.DAT
MISS13.DAT
MISS14.DAT
MISS15.DAT
MISS16.DAT
MISS17.DAT
MISS18.DAT
MISS19.DAT
MISS20.DAT
MISS21.DAT
MISS22.DAT
MISS23.DAT
MISS24.DAT
MISS25.DAT
MISS26.DAT
MISS27.DAT
MISS28.DAT
MISS29.DAT
MISS30.DAT
MISS31.DAT
MISS32.DAT
MISS33.DAT
MISS34.DAT
MISS35.DAT
MISS36.DAT
MISS37.DAT
MISS38.DAT
MISS39.DAT
MISS40.DAT
MISS41.DAT
MISS42.DAT
MISS43.DAT
MISS44.DAT
MISS45.DAT
MISS46.DAT
MISS47.DAT
MISS48.DAT
MISS49.DAT
MISS50.DAT
MISS101.DAT
MISS102.DAT
MISS103.DAT
MISS104.DAT
MISS105.DAT
MISS106.DAT
MISS107.DAT
MISS108.DAT
MISS109.DAT
MISS110.DAT
MISS111.DAT
MISS112.DAT
MISS113.DAT
MISS114.DAT
MISS115.DAT
MISS116.DAT
MISS117.DAT
MISS118.DAT
MISS119.DAT
MISS120.DAT
MISS121.DAT
MISS122.DAT
MISS123.DAT
MISS124.DAT
MISS125.DAT
MISS126.DAT
MISS127.DAT
MISS128.DAT
MISS129.DAT
MISS130.DAT
MISS131.DAT
MISS132.DAT
MISS133.DAT
MISS134.DAT
MISS135.DAT
MISS136.DAT
MISS137.DAT
MISS138.DAT
MISS139.DAT
MISS140.DAT
MISS141.DAT
MISS142.DAT
MISS143.DAT
MISS144.DAT
MISS145.DAT
MISS146.DAT
MISS147.DAT
MISS148.DAT
MISS149.DAT
MISS150.DAT
MISS201.DAT
MISS202.DAT
MISS203.DAT
MISS204.DAT
MISS205.DAT
MISS206.DAT
MISS207.DAT
MISS208.DAT
MISS209.DAT
MISS210.DAT
MISS211.DAT
MISS212.DAT
MISS213.DAT
MISS214.DAT
MISS215.DAT
MISS216.DAT
MISS217.DAT
MISS218.DAT
MISS219.DAT
MISS220.DAT
MISS221.DAT
MISS222.DAT
MISS223.DAT
MISS224.DAT
MISS225.DAT
MISS226.DAT
MISS227.DAT
MISS228.DAT
MISS229.DAT
MISS230.DAT
MISS231.DAT
MISS232.DAT
MISS233.DAT
MISS234.DAT
MISS235.DAT
MISS236.DAT
MISS237.DAT
MISS238.DAT
MISS239.DAT
MISS240.DAT
MISS241.DAT
MISS242.DAT
MISS243.DAT
MISS244.DAT
MISS245.DAT
MISS246.DAT
MISS247.DAT
MISS248.DAT
MISS249.DAT
MISS250.DAT
MISS301.DAT
MISS302.DAT
MISS303.DAT
MISS304.DAT
MISS305.DAT
MISS306.DAT
MISS307.DAT
MISS308.DAT
MISS309.DAT
MISS310.DAT
MISS311.DAT
MISS312.DAT
MISS313.DAT
MISS314.DAT
MISS315.DAT
MISS316.DAT
MISS317.DAT
MISS318.DAT
MISS319.DAT
MISS320.DAT
MISS321.DAT
MISS322.DAT
MISS323.DAT
MISS324.DAT
MISS325.DAT
MISS326.DAT
MISS327.DAT
MISS328.DAT
MISS329.DAT
MISS330.DAT
MISS331.DAT
MISS332.DAT
MISS333.DAT
MISS334.DAT
MISS335.DAT
MISS336.DAT
MISS337.DAT
MISS338.DAT
MISS339.DAT
MISS340.DAT
MISS341.DAT
MISS342.DAT
MISS343.DAT
MISS344.DAT
MISS345.DAT
MISS346.DAT
MISS347.DAT
MISS348.DAT
MISS349.DAT
MISS350.DAT
MLOGOS.DAT
MLOSA.DAT
MLOSAOUT.DAT
MLOSEGAM.DAT
MMAP.DAT
MMAPBLK.DAT
MMAPOUT.DAT
MMINLOGO.DAT
MMULTI.DAT
MMULTOUT.DAT
MOPTION.DAT
MOPTOUT.DAT
MRESOUT.DAT
MRESRCH.DAT
MSCRENUP.DAT
MSELECT.DAT
MSELECT.PAL
MSELOUT.DAT
MSPR-0.DAT
MSPR-0.TAB
MTITLE.DAT
SAMPLE.AD
SAMPLE.OPL
SOUND-0.DAT
SOUND-0.TAB
SOUND-1.DAT
SOUND-1.TAB
SYNGAME.XMI
